<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mpay" />
    <meta name="keywords" content="mpay" />
    <meta name="author" content="mpay" />
    <link rel="manifest" href="manifest.json" />
    <link
      rel="icon"
      href="assets/images/logo/favicon.png"
      type="image/x-icon"
    />
    <title>mPay App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="mpay" />
    <meta
      name="msapplication-TileImage"
      content="assets/images/logo/favicon.png"
    />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- custom css -->
    <link rel="stylesheet" href="assets/css/custom.css" />
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="../../css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- iconsax css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/vendors/iconsax.css"
    />

    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      id="rtl-link"
      type="text/css"
      href="assets/css/vendors/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/vendors/swiper-bundle.min.css"
    />

    <!-- Theme css -->
    <link
      rel="stylesheet"
      id="change-link"
      type="text/css"
      href="assets/css/style.css"
    />

    <style>
      .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #4d4d4d;
      }

      .form-control {
        height: 50px;
      }
    </style>
  </head>

  <body>
    <header class="section-t-space">
      <div class="custom-container">
        <div class="header-panel">
          <a href="address-book.html" class="back-btn">
            <i class="icon" data-feather="arrow-left"></i>
          </a>
          <h2>Wallet Address</h2>

          <a href="#send" data-bs-toggle="modal">
            <i class="icon" style="color: black" data-feather="check"></i>
          </a>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="form-group mt-3">
        <label for="walletName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="walletName"
          placeholder="Enter wallet name"
        />
      </div>

      <div class="mt-4 d-flex align-items-center">
        <div class="ms-3">
          <h5 class="mb-1" style="color: #6234dd">Add Address</h5>
          <small style="font-size: 10px text-nowrap" class="text-muted"
            >Select an asset and add its corresponding address.</small
          >
        </div>
      </div>
    </div>

    <!--successful send modal start -->
    <div class="modal error-modal fade" id="send" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Successfully Sent</h2>
          </div>
          <div class="modal-body">
            <div class="error-img">
              <img
                class="img-fluid"
                src="assets/images/svg/done.svg"
                alt="delate"
              />
            </div>
            <h3>Wallet name was successfully added</h3>
          </div>
          <button type="button" class="btn close-btn" data-bs-dismiss="modal">
            <i class="icon" data-feather="x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- swiper js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/custom-swiper.js"></script>

    <!-- apexcharts js -->
    <script src="assets/js/apexcharts.js"></script>
    <script src="assets/js/custom-candlestick-chart.js"></script>

    <!-- feather js -->
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/custom-feather.js"></script>

    <!-- iconsax js -->
    <script src="assets/js/iconsax.js"></script>
    <!-- script js -->
    <script src="assets/js/script.js"></script>

    <!-- custom js -->
    <script src="assets/js/custom.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
